extends layout

block content
  nav
    ul
      li
        a(href='all_books.html') Books
      li
        a(href='all_patrons.html') Patrons
      li
        a(href='all_loans.html') Loans
  body
    h1 Loans
    p
      a.button(href='new_loan.html') Create New Loan
    p
      | Filters 
      a(href='all_loans.html') All
      |  | 
      a(href='overdue_loans.html') Overdue
      |  | 
      a(href='checked_loans.html') Checked Out
    table 
      thead
        tr
          th Book
          th Patron            
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        each loan in loans
          tr              
            td
              a(href='/books/details/'+ loan.book_id) #{loan.Book.title}
            td
              a(href='patron_detail.html') #{loan.Patron.fullName()}
            td
              | #{loan.loaned_on}
            td 
              | #{loan.return_by}
            td #{loan.returned_on}
            td
              if loan.returned_on == NULL  
                a.button(type='submit' href='/loans/return/'+ loan.id) Return Book